@import '../../../../../styles.scss';

.container{
    @include modal;
    .content{
        @include content;
        .item{
            position: relative;
            min-height: 230px;
            height: max-content;
            .text{
                left: 0;
                padding: 5px;
                height: 100%;
                text-align: center;
                h3{
                    font-size: clamp(1.125rem, 0.977rem + 0.698vw, 1.5rem);
                    color: var(--primary-color);
                    width: max-content;
                    margin: auto;
                    font-family: 'Playwrite GB S', sans-serif;
                }
                p{
                    color: var(--primary-color);
                    text-wrap: pretty;
                    font-family: monospace, sans-serif;
                    font-size: clamp(0.72rem, 0.403rem + 1.493vw, 1rem);
                }
            }
        }
        .images{
            position: relative;
            padding: .5em;
            flex-grow: 2;
            overflow-y: auto;
            .img-item{
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                columns: 1;
                column-gap: .5em;
                padding: .5em;
                img{
                    display: block;
                    width: 100%;
                    margin-bottom: .5em;
                }
            }
        }
    }
    button{
        @include closeModal;
    }
}

@include mediaQuerie(medium){
    .container{
        .content{
            .item{
                min-height: 250px;
                max-height: 280px;
                .text{
                    padding: 1em;
                }
            }
            .images{
                .img-item{
                    columns: 2;
                }
            }
        }
    }
}