*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    background-color: none;
    outline: none;
    border: none;
    cursor: pointer;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: white;
}
::-webkit-scrollbar-track {
    background-color: black;
}