//BREAKPOINT
$breakpoint: (
    small: 0px,
    medium: 640px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px
);

//PADDING - TOP
$padding-top-navbar-small: 200px;
$padding-top-navbar-medium: 115px;
$padding-top-navbar-large: 90px;

//Z-INDEX
$z-back: -1;
$z-normal: 1;
$z-element: 10;
$z-fixed: 100;
$z-popup: 500;
$z-modal: 1000;

//COLORES
$PaleGray: #F7F7F7;
$DeepSea: #001F30;

:root{
    --primary-color: #A50000;
    --secondary-color: #FFC107;
    --neutral-color: #{$PaleGray};
    --dark-color: #{$DeepSea};
};