@import '../../../../styles.scss';

.achievements{
    .bgHouse{
        @include bgHouse;
    }
}
.container{
    @include componentTrio;
    text-align: center;
    .content{
        color: white;
        text-align: center;
        padding: 0 clamp(1rem, 1rem + 1.25vw, 1.5rem);
        h3{
            text-wrap: pretty;
            @include fontSizeH3;
        }
        p{
            @include descriptionH3-forP;
            padding-bottom: .5em;
            border-bottom: 3px solid white;
        }
    }
    section{
        margin: auto;
        max-width: 500px;
        padding: 1em clamp(0.5rem, 0.5rem + 1.25vw, 1rem);
        .allPjs{
            color: white;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1em;
            .items{
                aspect-ratio: 1/1;
                max-height: 200px;
                outline: 1px solid white;
                outline-offset: -5px;
                backdrop-filter: blur(5px);
                box-shadow: 5px 5px 10px white;
                text-align: center;
                position: relative;
                .text{
                    position: absolute;
                    width: 100%;
                    top: 15px;
                    h4{
                        font-size: clamp(1rem, 0.8rem + 0.533vw, 1.2rem);
                    }
                    p{
                        font-size: clamp(0.8rem, 0.624rem + 0.941vw, 1rem);
                        padding: 0 10px;
                        text-wrap: pretty;
                    }
                }
            }
            button{
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                width: max-content;
                text-wrap: nowrap;
                padding: .5em 1em;
                color: white;
                font-weight: bold;
                background-color: transparent;
                backdrop-filter: blur(5px);
                border-top: 3px solid white;
                border-left: 3px solid white;
                border-right: 1px solid white;
                border-bottom: 1px solid white;
                &:hover{
                    background-color: white;
                    color: black;
                }
                &:active{
                    transform: scale(.95) translateX(-50%);
                }
            }
        }
    }
    .show-more{
        background-color: black;
        border: 2px solid white;
        border-radius: 0 10px 0 10px;
        color: white;
        font-weight: bold;
        padding: .8em 1.5em;
        text-align: center;
        margin: 1em;
        opacity: .5;
        &:hover{
            opacity: 1;
        }
    }
}
@include mediaQuerie(medium){
    .container{
        section{
            margin: auto;
            padding: 1em 0;
            .allPjs{
                .items{
                    .text{
                        width: calc(100% - 150px);
                        height: 100%;
                        align-content: center;
                        top: 0;
                    }
                    button{
                        right: 10px;
                        left: auto;
                        top: 50%;
                        transform: translateY(-50%);
                        height: max-content;
                        &:active{
                            transform: scale(.95) translateY(-50%);
                        }
                    }
                }
            }
        }
    }
}
@include mediaQuerie(large){
    .container{
        section{
            max-width: clamp(56.25rem, 10.096rem + 72.115vw, 75rem);
            .allPjs{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1em;
                .items{
                    width: 100%;
                    padding: 0 1em;
                    .text{
                        top: 0;
                        left: 0;
                        width: 95%;
                        left: 50%;
                        transform: translateX(-50%);
                        height: calc(100% - 40px);
                        align-content: start;
                        padding-top: 15px;
                    }
                    button{
                        top: calc(100% - 45px);
                        left: 50%;
                        transform: translateX(-50%);
                        &:active{
                            transform: translate(-50%, 0) scale(.95);
                        }
                    }
                }
            }
        }
    }
}