@import '../../../../../styles.scss';
.requirements{
    .container{
        @include modal;
        .content{
            @include content;
            position: relative;
            padding: 1em;
            justify-content: space-between;
            .test{
                height: max-content;
                overflow-y: auto;
                h3{
                    color: var(--primary-color);
                    font-size: clamp(1.188rem, 0.833rem + 1.667vw, 1.5rem);
                }
                .description{
                    color: var(--dark-color);
                    max-width: 800px;
                    margin: auto;
                    text-wrap: pretty;
                    font-size: clamp(0.938rem, 0.583rem + 1.667vw, 1.25rem);
                }
                ul{
                    width: 85%;
                    margin: 1em auto;
                    max-width: 400px;
                    li{
                        list-style: outside;
                        color: var(--primary-color);
                        text-align: start;
                        font-size: clamp(0.875rem, 0.71rem + 0.882vw, 1.063rem);
                        font-size: clamp(0.75rem, 0.626rem + 0.581vw, 1.063rem);
                        margin-bottom: .5em;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .footer{
        width: 90%;
        margin: 0 auto;
        font-size: clamp(0.875rem, 0.776rem + 0.465vw, 1.125rem);
        .cita{
            color: var(--dark-color);
        }
        .test{
            margin-top: 1em;
            color: var(--primary-color);
            a{
                color: var(--secondary-color);
                text-decoration: underline;
            }
        }
    }
    button{
        @include closeModal;
    }
}
@include mediaQuerie(medium){
    .requirements{
        .container{
            .content{
                .test{
                    max-height: 400px;
                }
                h3{
                    font-size: clamp(2.1rem, 0.7rem + 2.8vw, 2.8rem);
                }
                ul{
                    width: 90%;
                    li{
                        font-size: clamp(1rem, 0.6rem + 0.8vw, 1.2rem);
                    }
                }
                .footer{
                    bottom: 3em;
                    width: 80%;
                }
            }
        }
    }
}

@include mediaQuerie(large){
    .requirements{
        .container{
            .content{
                .test{
                    overflow-y: hidden;
                }
            }
        }
    }
}